{% load static %}

<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"><img src="{% static 'logo.svg' %}" alt="" width="90" /></a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      © 2025 Crafted with care by
      <a href="www.linkedin.com/in/jamilcodes" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@jamilcodes</a>
    </p>
  </div>
</footer>
